
input, select, textbox ,textarea {
    max-width: 500px;
}



body {
    background-color:burlywood;
}

.bodystyle {
    background-color: #F4A460;
}


.menutable {
    background-color: #F4A460;
    display: table;
    align-content: center;
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
}

.table {
    background-color: #F4A460;
    display: table;
    align-content: center;
    border:solid;
}

.fieldset-auto-width {
    display: inline-block;
}

.menubuttontable {
    display: table;
    align-content: center;
}

.tr {
    display: table-row;
    align-content: center;
}

.td {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
}

