
input, select, textbox ,textarea {
    max-width: 500px;
}


.reportheader { font-weight:bold; text-wrap:avoid;}
.reportsortheader { font:xx-large; }
.reporttext  { text-wrap: avoid; width:300px; }
.reporttextdate {text-wrap: avoid; width:300px;}

body {
    background-color:burlywood;
}

.bodystyle {
    background-color: #F4A460;
}


.menutable {
    background-color: #F4A460;
    display: table;
    align-content: center;
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
}

.table {
    background-color: #F4A460;
    display: table;
    align-content: center;
    border:solid;
}

.fieldset-auto-width {
    display: inline-block;
}

.tablenoborder {
    display: table;
    align-content: center;
    border: none;
    width: 950px;
}

.menubuttontable {
    display: table;
    align-content: center;
}

.trpatientappt {
    display: table-row;
    align-content: center;
    border: none;
    width: 950px;
}

.tdpulsesection {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 450px;
}

.trimageinfoheader {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
}

.tdimagesectionone {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 450px;
}

.tdimagesectiontwo {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 450px;
}

.trimagecolumn {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
}

.tdimagecolumn {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
}

.tdpatientappt {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 50px;
}

.tdpulseinfoheader {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 150px;
}

.tdpulseinfocolumn {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
}

.tr {
    display: table-row;
    align-content: center;
    border: none;
}

.td {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
}

