
input, select, textbox ,textarea {
    max-width: 500px;
}


.reportheader { font-weight:bold; text-wrap:avoid;}
.reportsortheader { font:xx-large; }
.reporttext  { text-wrap: avoid; width:300px; }
.reporttextdate {text-wrap: avoid; width:300px;}

body {
    background-color:burlywood;
}

.bodystyle {
    background-color: #F4A460;
}


.menutable {
    background-color: #F4A460;
    display: table;    
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
}

.menutabletwo {   
    background-color: #F4A460;
    display: table;
    position: absolute;    
    margin-top: 35%;
    margin-left: 45%;
}



.table {
    background-color: #F4A460;
    display: table;
    align-content: center;
    border:solid;
}

.fieldset-auto-width {
    display: inline-block;
}

.tablenoborder {
    display: table;
    align-content: center;
    border: none;
    width: 950px;
    max-width: 1000px;
}

.menubuttontable {
    display: table;
    align-content: center;
}

.trpatientappt {
    display: table-row;
    align-content: center;
    border: none;
    width: 950px;
}

.tdpulseinfoheader {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 150px;
    max-width: 150px;
}

.tdpulseinfocolumn {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
    max-width: 100px;
}

.tdpulsesection {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 450px;
}

.trimageinfoheader {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
}

.tdimagesectionone {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width:auto;
}

.tdimagesectiontwo {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width:auto;
}

.trimagecolumn {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 175px;
}

.tdimagecolumn {
    display: table-cell;
    align-content:stretch;
    vertical-align: middle;
    border:none;
    width: 175px;
}

.tdcolumnspacer {
    display: table-cell;
    align-content: center;
    vertical-align: middle;    
    border:none;
    width: 55px;
}

.trcolumnspacer {
    display: table-row;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 55px;
}

.tdpatientappt {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;
    width: 50px;
}

.trpatientnotes {
    display: table-row;
    align-content: center;
    border: none;    
}

.tdpatientnotes {
    display: table-cell;
    align-content:center;
    border: none;    
}

.trlogin {
    display: table-row;    
    align-content: flex-start;
    border: solid;
}


.tr {
    display: table-row;
    align-content: center;
    border: none;
}

.tra {
    display: table-row;
    align-content: center;
    border: none;        
}

.td {
    display: table-cell;            
    border:none;
}

.tdlogin {
    display: table-cell;
    align-content: flex-start;   
    width:50px;
    vertical-align: middle;
    border: none;
}


.tda {
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    border: none;    
    padding: 1px 1px 5px 1px;
}
